* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* google font */
.font_fira_sans {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}
/* common styles start*/
.container {
  width: 71.25%;
  margin: 0 auto;
}
.btn {
  background-color: #006a50;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  color: #006a50;
  background-color: #ffffff;
  transition: 0.2s;
}
.btn_green {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background-color: #006a50;
  padding: 13px 26px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.btn_green:hover {
  background-color: #ffffff;
  color: #006a50;
  transition: 0.2s;
  border: 1px solid #006a50;
}
#pillars,
#vision,
#Adviser_speech,
#opinion,
#news,
#donate,
#newsletter,
footer {
  margin-top: 80px;
}
.section_heading {
  font-size: 45px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 30px;
}
.section_desc {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 30px;
}
.card_title {
  font-size: 20px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 14px;
}
.card_desc {
  font-size: 16px;
  color: #0e0e0e;
  line-height: 24px;
  margin-bottom: 15px;
}
.text_center {
  text-align: center;
}
/* common styles end*/

body {
  background-color: #f5f5f5;
}

/* nav styles start */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0;
}
#navbar h3 {
  font-size: 32px;
  font-weight: 700;
  color: #0e0e0e;
}
#navbar #nav_btn {
  font-size: 18px;
  font-weight: 600;
  color: #006a50;
  padding: 15px 30px;
  border: 1px solid #006a50;
  border-radius: 8px;
  cursor: pointer;
}
#navbar #nav_btn:hover {
  color: #ffffff;
  background-color: #006a50;
  transition: 0.2s;
}

/* banner */
#banner {
  margin-top: 20px;
}
#banner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  background-color: #c6e4d6;
  border-radius: 24px;
  padding: 80px 100px;
}
#banner_content {
  max-width: 622px;
}
#banner_container #banner_content p {
  font-size: 24px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
}
#banner_container #banner_content h1 {
  font-size: 56px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
}
#banner_image img {
  max-width: 474px;
}

/* main starts */

/* pillars section */
/* #pillars_container {
  max-width: 1280px;
  margin: 0 auto;
} */
#pillars-cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
#pillars-cards .pillar_card {
  background-color: #ffffff;
  padding: 24px;
  border: 1px solid #0e0e0e;
  border-radius: 16px;
  max-width: 302px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
#pillars-cards .pillar_card img {
  padding: 15px 0;
}

/* vision styles */
#vision_Container #vision_content {
  margin-bottom: 32px;
}
/* #vision_Container {
  max-width: 1280px;
} */
#vision_cards_container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
#vision_cards_container .vision_card {
  max-width: 410px;
  padding: 28px;
}
.vision_card img {
  max-width: 674px;
  padding: 10px 0;
  margin-bottom: 24px;
}
.vision_card .vision_card_btn {
  border-radius: 8px;
  padding: 11px 20px;
  border: none;
}

/* Adviser's speech styles */
#Adviser_speech #speech_Container {
  background-color: #ffffff;
  border: 2px dashed rgba(14, 14, 14, 0.15);
  padding: 43px 24px;
  border-radius: 16px;
}
#speech_Container p {
  max-width: 1280px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  line-height: 24px;
  margin-bottom: 14px;
}
#speech_Container h3 {
  font-size: 22px;
  font-weight: 600;
  color: rgba(14, 14, 14, 0.8);
  line-height: 24px;
  margin-bottom: 4px;
}

#speech_Container {
  position: relative;
}
#speech_Container img {
  position: absolute;
  top: 19px;
}

#speech_Container span {
  font-size: 18px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  line-height: 24px;
}

/* Opinion styles start */

#opinion_table_container {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 16px;
}
#opinion_table_container table {
  width: 1280px;
}
#opinion_table_container table td {
  border: 2px solid black;
}
/* table */
#opinion_table_container table {
  width: 1280px;
  border-collapse: collapse;
  border: 1px dashed rgba(14, 14, 14, 0.15);
}
/* thead */
#opinion_table_container table thead th {
  padding: 24px;
  /* border: 1px dashed rgba(14, 14, 14, 0.15); */
}
/* tbody */
#opinion_table_container table tbody td {
  padding: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
#opinion_table_container table tbody td table tbody .table_btn {
  text-align: center;
}
#opinion_table_container table tbody tr td {
  font-size: 18px;
  font-weight: 600;
  color: #0e0e0e;
}
#opinion_table_container .table_btn span {
  font-size: 18px;
  color: #0e0e0e;
  border: 1px solid #0e0e0e;
  padding: 11px 22px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.btn_wrapper {
  width: 90%;
  margin: 0 auto;
}
/*recent news section styles */
#news_card_container {
  background-color: #ffffff;
  border-radius: 24px;
  margin-bottom: 24px;
}
.news_card {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  /* border: 1px solid rebeccapurple; */
  padding: 48px;
}
.news_card img {
  border-radius: 24px;
  max-width: 402px;
}
.card_content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 12px;
}
.card_content img {
  max-width: 134px;
  margin-bottom: 12px;
}
.card_content div {
  display: flex;
  gap: 15px;
}
.card_content div h5 {
  font-size: 16px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.6);
  line-height: 24px;
  margin-bottom: 12px;
}
.card_content p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.6);
  line-height: 24px;
  margin-bottom: 32px;
}

/* DONATE SECTION */
#donate_card_container {
  display: flex;
  justify-content: space-around;
}
#donate_card_container .donate_card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.donate_content {
  max-width: 1280px;
  margin: 0 auto;
}
.donate_card h2 {
  font-size: 40px;
  color: rgba(14, 14, 14, 0.8);
}
#donate_section #donate_amount {
  background-color: #ffffff;
  padding: 20px 40px;
  max-width: 1032px;
  margin: 0 auto;
  margin-top: 32px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  text-align: center;
  margin-bottom: 20px;
}
#donate_section #donate_amount p {
  color: rgba(14, 14, 14, 0.3);
  font-size: 18px;
  font-weight: 500;
}

/* newsletter styles */
#newsletter_Container {
  background-color: #c6e4d6;
  padding: 80px 100px;
  border-radius: 24px;
}
#newsletter_content {
  max-width: 750px;
  margin: 0 auto;
}
#newsletter_content h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 16px;
}
#newsletter_content P {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.6);
  margin-bottom: 24px;
  line-height: 24px;
}
#newsletter_content #display-flex {
  margin-bottom: 24px;
}

#newsletter_content #display-flex {
  display: flex;
}
#newsletter_content #display-flex input[type="email"] {
  padding: 18px 40px;
  width: 600px;
  border: none;
  flex: 1;
}
#newsletter_content #display-flex .subscribe_btn {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background-color: #006a50;
  padding: 18px 28px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  margin-right: 0;
  cursor: pointer;
}
#newsletter_content #display-flex .subscribe_btn:hover {
  background-color: #ffffff;
  color: #006a50;
  transition: 0.2s;
  border: 1px solid #006a50;
}
div h5 {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
}
/* main ends */

/* footer */
footer {
  background-color: #ffffff;
}
#footer_container {
  text-align: center;

  padding: 50px 160px;
  margin-bottom: 20px;
  /* box-shadow: 0 5px 20px 0 #c6e4d6; */
}

#footer_container h3 {
  margin: 32px 0;
  font-size: 32px;
  font-weight: 700;
  color: #0e0e0e;
}
#footer_container hr {
  background-color: rgba(14, 14, 14, 0.1);
}
#footer_container #social_icons {
  text-align: center;
}
#footer_container #social_icons img {
  width: 34px;
  margin: 32px 22px;
}
