* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* google font */
.font_fira_sans {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.container {
  width: 71.25%;
  margin: 0 auto;
}

body {
  background-color: #f5f5f5;
}

/* nav styles start */
#navbar {
  display: flex;
  justify-content: space-between;
  padding: 31px 0;
}
