* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* google font */
.font_fira_sans {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}
/* common styles start*/
.container {
  width: 71.25%;
  margin: 0 auto;
}
.btn {
  background-color: #006a50;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.section_heading {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 32px;
}
/* common styles end*/

body {
  background-color: #f5f5f5;
}

/* nav styles start */
#navbar {
  display: flex;
  justify-content: space-between;
  padding: 31px 0;
}
#navbar h3 {
  font-size: 32px;
  font-weight: 700;
  color: #0e0e0e;
}
#navbar #nav_btn {
  font-size: 18px;
  font-weight: 600;
  color: #006a50;
  padding: 15px 30px;
  border: 1px solid #006a50;
  border-radius: 8px;
}

/* banner */
#banner {
  margin-top: 20px;
}
#banner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  background-color: #c6e4d6;
  border-radius: 24px;
  padding: 80px 100px;
}
#banner_content {
  max-width: 622px;
}
#banner_container #banner_content p {
  font-size: 24px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
}
#banner_container #banner_content h1 {
  font-size: 56px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
}
#banner_image img {
  max-width: 474px;
}

/* main starts */

/* pillars section */
#pillars {
  margin-top: 80px;
}
#pillars-cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
#pillars-cards .pillar_card {
  background-color: #ffffff;
  padding: 24px;
  border: 1px solid #0e0e0e;
  border-radius: 16px;
  max-width: 302px;
}
#pillars-cards .pillar_card img {
  padding: 15px 0;
}
.pillar_card .card_title {
  font-size: 20px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 14px;
}
.pillar_card .card_desc {
  font-size: 16px;
  color: #0e0e0e;
  line-height: 24px;
}
/* main ends */
