* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* google font */
.font_fira_sans {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}
/* common styles start*/
.container {
  width: 71.25%;
  margin: 0 auto;
}
.btn {
  background-color: #006a50;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
#pillars,
#vision,
#Adviser_speech,
#opinion {
  margin-top: 80px;
}
.section_heading {
  font-size: 45px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 32px;
}
.section_desc {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}
.card_title {
  font-size: 20px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 14px;
}
.card_desc {
  font-size: 16px;
  color: #0e0e0e;
  line-height: 24px;
  margin-bottom: 15px;
}

/* common styles end*/

body {
  background-color: #f1f1f3;
}

/* nav styles start */
#navbar {
  display: flex;
  justify-content: space-between;
  padding: 31px 0;
}
#navbar h3 {
  font-size: 32px;
  font-weight: 700;
  color: #0e0e0e;
}
#navbar #nav_btn {
  font-size: 18px;
  font-weight: 600;
  color: #006a50;
  padding: 15px 30px;
  border: 1px solid #006a50;
  border-radius: 8px;
}

/* banner */
#banner {
  margin-top: 20px;
}
#banner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  background-color: #c6e4d6;
  border-radius: 24px;
  padding: 80px 100px;
}
#banner_content {
  max-width: 622px;
}
#banner_container #banner_content p {
  font-size: 24px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
}
#banner_container #banner_content h1 {
  font-size: 56px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
}
#banner_image img {
  max-width: 474px;
}

/* main starts */

/* pillars section */

#pillars-cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
#pillars-cards .pillar_card {
  background-color: #ffffff;
  padding: 24px;
  border: 1px solid #0e0e0e;
  border-radius: 16px;
  max-width: 302px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
#pillars-cards .pillar_card img {
  padding: 15px 0;
}

/* vision styles */
#vision_Container #vision_content {
  margin-bottom: 32px;
}
#vision_cards_container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
#vision_cards_container .vision_card {
  max-width: 410px;
  padding: 28px;
}
.vision_card img {
  max-width: 674px;
  padding: 10px 0;
  margin-bottom: 24px;
}
.vision_card .vision_card_btn {
  border-radius: 8px;
  padding: 11px 20px;
  border: none;
}
/* Adviser's speech styles */
#Adviser_speech #speech_Container {
  background-color: #ffffff;
  border: 2px dashed rgba(14, 14, 14, 0.15);
  padding: 43px 24px;
  border-radius: 16px;
}
#speech_Container p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  line-height: 24px;
  margin-bottom: 14px;
}
#speech_Container h3 {
  font-size: 22px;
  font-weight: 600;
  color: rgba(14, 14, 14, 0.8);
  line-height: 24px;
  margin-bottom: 4px;
}
/* Quote related problem */
/* #speech_Container {
  position: relative;
}
i {
  position: absolute;
  top: -40px;
  left: 20px;
} */
/* Quote related problem end*/

#speech_Container span {
  font-size: 18px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  line-height: 24px;
}

/* Opinion styles start */
#opinion_table_container table {
  max-width: 1280px;
}
#opinion_table_container table td {
  border: 2px solid black;
}
/* table */
#opinion_table_container table {
  width: 1280px;
  border-collapse: collapse;
  border: 1px dashed rgba(14, 14, 14, 0.15);
}
/* thead */
#opinion_table_container table thead th {
  padding: 24px;
  /* border: 1px dashed rgba(14, 14, 14, 0.15); */
}
/* tbody */
#opinion_table_container table tbody td {
  padding: 36px 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
#opinion_table_container table tbody td table tbody .table_btn {
  text-align: center;
}
#opinion_table_container table tbody tr td {
  font-size: 18px;
  font-weight: 600;
  color: #0e0e0e;
}
#opinion_table_container .table_btn span {
  font-size: 18px;
  color: #0e0e0e;
  border: 1px solid #0e0e0e;
  padding: 11px 22px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  /* width: 180px;
  margin: 0 auto; */
}
/* main ends */
